

.isimenu{
	background-color: #FFF;
}

.nama{
	width: 250px;
	height: 30px;
	background-color: #DBDDE0;
	margin-bottom: 10px;
}

 .nama:hover, .nama:active, .nama:focus {  

   background: #C7CBD1; 

 } 

.ket{
	width: 250px;
	height: 50px;
	background-color: #DBDDE0;
}


.simpan {
	padding: 4px;
	
	color: #000;
}

.input{
border: 1px solid #000;
padding: 4px;
background-color: #f69e00;
color: #000;
}



.reset{
border: 1px solid #000;
padding: 4px;
background-color: #f69e00;
color: #000;
}
