body{
   background-color: #2E3339;
}
.con {
   margin-top: 50px;
   margin-left: 500px;
   background-color:#fff;
   color: #000;
   width: 300px;
   border-radius: 30px 30px 0px 0px;
}


.tamp{
   background-color: #fff;
   padding: 10px;
}


input[type="text"]:hover , input[type="text"]:active , input[type="text"]:focus{
   border-bottom: 2px solid #3E5946;
}

input[type="submit"]{
 background: #2E3339;
 color: #fff;
 border-radius: 3px;
 padding: 15px;
 width: 100%;
 border: none;

}

span{
   color: #ccc;
}

input[type="submit"]:hover , input[type="submit"]:active , input[type="submit"]:focus{
   background-color: #000;
}